Source: scibian-version
Section: scibian
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.0.0
Vcs-Git: https://github.com/scibian/scibian-version.git
Vcs-Browser: https://github.com/scibian/scibian-version

Package: scibian-version
Architecture: all
Description: Scibian meta-package which indicates 
  the current scibian version installed. To know which 
  version is installed use the command: "dpkg - scibian-version"
